<%- include('../partials/header') -%>

  <a href="/skills">All Skills</a>
  <h3><%= skill.skill %></h3>
  <h3>Skill Level: <%= skill.skillLevel %></h3>
  <a href="/skills/<%= skill.id %>/edit">Edit Skills</a>

<%- include('../partials/footer') -%>